<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
	<div class='login-wrap'>
		<h2>Login</h2>
		<form action='/login' method='post' class='form'>
			<input type='text' name='userid' placeholder='UserID'>
			<input type='password' name='userpw' placeholder='UserPW'>
			<button type='submit'>Sign in</button>
			<a href='register'><p>Do Register</p></a></form></div>
  </body>
</html>
