<!DOCTYPE html>
<html>
  <head>
    <title>Main Page</title>
	<link rel='stylesheet' href='/stylesheets/style_main.css' type='text/css'>
  </head>
  <body>
    <h1> 우리 동네 병원</h1>
	<nav id='leftMenu'>
		<ul>
			<li><a class='menuLink' href='/pc/table2/1' target='iframe01'>실시간 대기 환자</a></li>
			<li><a class='menuLink' href='/pc/table' target='iframe01'>실시간 예약 환자</a></li>
			<li><a class='menuLink' href='/pc/reservation' target='iframe01'>수동 진료</a></li>
			
		</ul>
	
	</nav>
	<iframe name='iframe01' id='iframe1' src='/pc/table2/1' frameborder=0></iframe>


  </body>
</html>
