<!DOCTYPE html>
<html>
  <head>
    <title>예약페이지</title>

  </head>
  <body>
    <h1>수동 예약</h1>
		<div name='wait'>
			<%= waiting %>명 대기중
			<button type="button" onclick="location.href='/pc/add_reservation' " formtarget='_parent'>예약하기</button>
		</div>
	

  </body>
</html>
