<!DOCTYPE html>
<html>

    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">

<div class="row mt">
      <div class="col-lg-6">
            <div class="content-panel">
                  <h4>
                    <i class="fa fa-angle-right"></i>
                    요일 별 환자 분포
                  </h4>
                   <div class="panel-body text-center">
                        <canvas id="bar2" height="300" width="400"></canvas>
                   </div>
                   <p> &nbsp;회색 음영은 지난주 자료입니다.</p>
            </div>
      </div>
      <div class="col-lg-6">
             <div class="content-panel">
                  <h4><i class="fa fa-angle-right"></i> 시간 별 환자 분포</h4>
                  <div class="panel-body text-center">
                         <canvas id="line2" height="300" width="400"></canvas>
                  </div>
                  <p> &nbsp;회색 음영은 지난주 자료입니다.</p>
            </div>
      </div>
</div>
<script src="assets/js/chart-master/Chart.js"></script>
<script>
var Script = function () {
    
        var barChartData2 = {
        labels : ["월","화","수","목","금"],
        datasets : [
            {
                fillColor : "rgba(220,220,220,0.5)",
                strokeColor : "rgba(220,220,220,1)",
                data : [40,30,15,20,35]
            },
            {
                fillColor : "rgba(151,187,205,0.5)",
                strokeColor : "rgba(151,187,205,1)",
                data : [20,15,40,20,25]
            }
        ]

    };
        var lineChartData2 = {
        labels : ["0~10세","10대","20대","30대","40대","50대","60대이상"],
        datasets : [
            {
                fillColor : "rgba(220,220,220,0.5)",
                strokeColor : "rgba(220,220,220,1)",
                pointColor : "rgba(220,220,220,1)",
                pointStrokeColor : "#fff",
                data : [7,9,7,4,8,5,16]
            },
            {
                fillColor : "rgba(151,187,205,0.5)",
                strokeColor : "rgba(151,187,205,1)",
                pointColor : "rgba(151,187,205,1)",
                pointStrokeColor : "#fff",
                data : [5,8,8,3,13,4,18]
            }
        ]

    };
    new Chart(document.getElementById("bar2").getContext("2d")).Bar(barChartData2);
    new Chart(document.getElementById("line2").getContext("2d")).Line(lineChartData2);

}();
</script>
</html>
